*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #808080;
  font-family: sans-serif;
  font-size: 14px;
}

section {
  width: 420px;
}

.container {
  background-color: #ffffff;
  border: 1px solid #000000;
  padding-bottom: 0px;
  position: relative;
  top: 1px;
  margin: 7%;
  width: 420px;
}

.location {
  background-color: #0000ff;
  width: 100%;
  border-bottom: 2% solid black;
  float: right;
  padding:2%
}

.location :hover { 
  background-color: #0000ff; 
}

.arrow {
  display: inline;
  float: right;
  margin-right: 15px;
  position: relative;
  top: -32px;
}


h1 {
  font-weight: bold;
  font-size: 24px;
}

h3 {
  font-weight: normal;
  font-size: 16px;
}


nav {
  background-color: #000000;
  padding: 0;
  position: fixed;
  width: 418px;
}

.arrow-left {
  background-color: #000;
  padding: 7px;
}

.restaurant-list {
  padding-top: 25px;
  padding-bottom: 10px;
  border: 20px 15px;
  width: 100%;

}
